[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/json-parser/json-parser.git
[submodule "assets/khr"]
	path = assets/khr
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets.git
[submodule "contrib/ktx"]
	path = contrib/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "contrib/astc-codec"]
	path = contrib/astc-codec
	url = https://github.com/google/astc-codec.git
